<!DOCTYPE html>
<html>
<!--总有一些不经意的时光，需要被镌刻-->
<head>
    <title>云日记</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/css.css" />
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="#" class="brand">云日记</a>
                <div class="nav-collapse">
                    <ul class="nav nav-pills">
                        <li><a href="{:U('Index/Index')}" >首页</a></li>
                        <li><a href="{:U('Find/Index')}">发现</a></li>
                        <li><a href="{:U('Write/Index')}">写日记</a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav" style="float:right;">
                    <li><a href="{:U('Register/Index')}">注册</a></li>
                     <li><a href="{:U('Setting/Index')}">设置</a></li>
                     <li><a href="{:U('Logout/Index')}">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row-fluid show-grid">
        <div class="span12">
          <h4>全部日记 </h4><hr>
          <div class="Diary-wrap">
              <foreach name="records" item="vo">
                <div class="Diary-row">
                  <div class="Diary-left">
                      <img src="__ROOT__/{$uploads}{$vo.image}" alt="用户图像" class="img-rounded" />
                  </div>
                    <div class="Diary-right"><h5> 
                      <a href="{:U('List/Index',['id'=>$vo['id']])}"> {$vo.username} 的日记</a>
                        <small>[天气:{$vo.weather}] </small>
                        <small>[心情:{$vo.mood}] </small>
                      </h5>
                      <div class="Diary-content">
                        <p style="max-height: 70px;overflow:hidden;text-overflow:ellipsis;word-break:normal;">{$vo.content}</p>
                      </div>
                      <div class="bar">{$vo.addtime}
                          <small>{:intval($vo['views'])}人阅读</small>
                      </div>
                    </div>
                  </div>
              </foreach>	  
                <!--分页-->
              <div class="pagination" style="text-align:center;margin-bottom:80px;">
                <ul>
                  {:$page->show()}
                </ul>
              </div>
			  
			  
            </div>
          </div><hr>
      </div>
    </div>
          <footer>
               <p style="text-align:center;font-size:14px;">版权所有 &copy; 淮南师范学院&nbsp;皖ICP备16000979号</br>powered by E8工作室</br>Email:2013855675@qq.com</p>
          </footer>
    </body>
</html>