*{
	margin:0;
	padding:0;
}
.header{
	width:100%;
	height:50px;
	background:#6C9;
	}
.header a{
	font-size:20px;
	color:#FFF;
	position:absolute;
	top:9px;
	left:5px;
	text-decoration:none;
}
		
#preview{
	width:200px;
	height:200px;
	background:#6C9;
	border-radius:50%;
	overflow: hidden;
	position:relative;
	}
	#imghead{
	width:200px;
	height:200px;
}
#preview p{
	line-height:200px;
	color:#FFF;}	

#zc{
	width:250px;
	height:200px;
	margin:auto;}
#zc span{
	font-size:20px;
	color:#6C9;
	position:relative;
	top:20px;}
#zc input {
	height:30px;
	width:200px;
	position:relative;
	top:20px;
	margin-top:20px;}	
	
.form-group{
	padding-left: 33%;
    padding-right: 34%;
    padding-top: 3%;
}
.btn{
	margin-left: 50%;
    margin-top: 40px;
}
.control-label{
	display: block;
    height: 34px;
    line-height: 34px;
}
.bt{
	width:80px;
	height:40px;
	position:relative;
	margin:0 auto;}	
.bt input{
	width:80px;
	height:40px;
}
form {
	margin-top: 70px;
}
.upload-box{
	position:relative;
	width:200px;
	height:200px;
	margin:20px auto;
}
.upload-box  .input{
	position:absolute;
	width:200px;
	height:200px;
	opacity: 0;
	cursor:pointer;
	z-index:300;
}
.upload-box .mask{
	height:200px;
	width:200px;
	border-radius:50%;
	background:#333;
	opacity: 0;
	position:absolute;
	transition:opacity 0.5s;
	z-index:100;
}
.upload-box #preview{
	
}
.upload-box .mask>.input{
	width:200px;
	height:200px;
	z-index:300;
}
.upload-box:hover > .mask{
	opacity: 0.5;
}

.upload-box:hover > #preview:after{
	content: "";
	position: absolute;
    top: 87px;
    left: 100px;
    width: 4px;
    height: 40px;
    background: #fff!important;
    border-radius: 4px;
	z-index:200;
	cursor:pointer;
}
.upload-box:hover > #preview:before{
	content: "";
	position: absolute;
    top: 105px;
    left: 82px;
    width: 40px;
    height: 4px;
    background: #fff!important;
    border-radius: 4px;
	z-index:200;
	cursor:pointer;
}